
<body>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet"> <!--Link para obtener la fuente de google fonts -->
  <div class="imagenes"> 
    <img src="https://i.imgur.com/6DmjOjx.png" alt="titulo"> <!--imagen subida a la red (imgur)-->
  </div>
  
  <header>
    <h2>¡Descubre el camino hacia una vida más saludable!</h2>
    <p><strong>¿Quieres mejorar tu salud, alcanzar tu peso ideal o simplemente entender mejor las necesidades de tu cuerpo?
        ¡Estás en el lugar correcto! ViveFit es la herramienta que necesitas, diseñada para que tomes el control de tu bienestar de manera fácil y efectiva. 
        Te ayudamos a crear tu rutina perfecta para ponerte en forma y calcular las necesidades de tu cuerpo con la tasa de metabolismo basal y el indice de masa corporal</strong><p>
  </header>

  <div class="contenedor">
    
    <div class="izquierda">
      <h3>Conoce tu cuerpo y mejora tu bienestar</h3>
      <h4>🔎 Descubre cuántas calorías necesitas para sentirte en tu mejor versión.<br>
          💪 Mantén tu peso en un rango saludable y reduce riesgos de enfermedades.<br>
          📝 Aplica una buena rutina para alcanzar tus objetivos y mantenerte en forma.<br>
          🎯 Da pasos firmes hacia tus metas de salud y fitness con resultados claros y precisos.<br><br>
      </h4>
      <h3 id="parte2">¡Es rápido, fácil y gratis!</h3>
      <h4 id="parte2">Usa nuestra herramienta y empieza hoy mismo a construir un estilo de vida más saludable.
        Ingresa tus datos, obtén resultados en segundos y comienza hoy mismo a construir un estilo de vida más saludable.
      </h4>
    </div> 

    <div class="derecha">
      <div class="imagen2"><img src="https://imgur.com/CBl1tVk.png" alt="muniecos"></div><!--Link para obtener la fuente de google fonts  -->
      <div class="mensaje">
        <p><strong>¡Comienza hoy mismo!</strong></p>
        <p>🌱Tu cuerpo te lo agradecerá🌱</p>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="button-container">
      <button (click)="irACalculadora()"><strong>Calcula la TMB y el IMC</strong></button>
      <button (click)="irAEjercicios()"><strong>Crea tu rutina de ejercicios</strong></button>
    </div>
  </div>

  <div><p class="Copyright">Copyright 2025 ViveFit</p></div>

</body>

